# Ignore library files
Lib/
site-packages/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
wheels/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
# Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# Environments for specific editors
.vscode/
.idea/

# Miscellaneous
*.log
*.bak
*.tmp

